{% extends 'base.html.twig' %}

{% block title %}Register{% endblock %}

{% block body %}
<div class="container">
    <div class="row justify-content-md-center">
        <div class="col-6 col-md-4">
            {% for flash_error in app.flashes('verify_email_error') %}
                <div class="alert alert-danger" role="alert">{{ flash_error }}</div>
            {% endfor %}

            {{ form_start(registrationForm) }}

            <div class="mb-3">
                {{ form_label(registrationForm.email) }}
                {{ form_widget(registrationForm.email, {'attr': {'class': 'form-control'}}) }}
            </div>

            <div class="mb-3">
                <label for="username">Username:</label>
                <input class="form-control" type="text" id="username" name="registration_form[username]" value="">
            </div>

            <div class="mb-3">
                {{ form_label(registrationForm.plainPassword, 'Password') }}
                {{ form_widget(registrationForm.plainPassword, {'attr': {'class': 'form-control'}}) }}
            </div>

            {# {{ form_row(registrationForm.email) }} #}
            {# {{ form_label(registrationForm.plainPassword) }} #}
            
            {{ form_label(registrationForm.agreeTerms) }}
            {{ form_widget(registrationForm.agreeTerms) }}

            <button type="submit" class="btn btn-primary float-end">Register</button>
            
            {{ form_end(registrationForm) }}
        </div>
    </div>
</div>
{% endblock %}
