{% extends 'base.html.twig' %}

{% block title %}Register{% endblock %}

{% block body %}
<div class="container">
    <div class="row justify-content-md-center">
        <div class="col-6 col-md-4">
            {% for label, messages in app.flashes %}
                {% for message in messages %}
                    <div class="alert alert-danger" role="alert">{{ message }}</div>
                {% endfor %}
            {% endfor %}

            {{ form_start(registrationForm) }}

            <div class="mb-3">
                {{ form_label(registrationForm.email) }}
                {{ form_widget(registrationForm.email, {'attr': {'class': 'form-control'}}) }}
            </div>

            {% if registrationForm.email.vars.errors|length > 0 %}
                <div class="alert alert-danger" role="alert">
                    {{ form_errors(registrationForm.email) }}
                </div>
            {% endif %}

            <div class="mb-3">
                {{ form_label(registrationForm.playerName, 'Player Name') }}
                {{ form_widget(registrationForm.playerName, {'attr': {'class': 'form-control'}}) }}
            </div>

            {% if registrationForm.playerName.vars.errors|length > 0 %}
                <div class="alert alert-danger" role="alert">
                    {{ form_errors(registrationForm.playerName) }}
                </div>
            {% endif %}

            <div class="mb-3">
                {{ form_label(registrationForm.plainPassword, 'Password') }}
                {{ form_widget(registrationForm.plainPassword, {'attr': {'class': 'form-control'}}) }}
            </div>

            {% if registrationForm.plainPassword.vars.errors|length > 0 %}
                <div class="alert alert-danger" role="alert">
                    {{ form_errors(registrationForm.plainPassword) }}
                </div>
            {% endif %}

            {# {{ form_row(registrationForm.email) }} #}
            {# {{ form_label(registrationForm.plainPassword) }} #}

            <button type="submit" class="btn btn-primary float-end">Register</button>
            
            {{ form_end(registrationForm) }}
        </div>
    </div>
</div>
{% endblock %}
