{% extends 'base.html.twig' %}

{% block title %}New Game{% endblock %}

{% block body %}
<div class="container">
    <div class="row justify-content-md-center">
        <div class="col-6 col-md-4">
            {% for label, messages in app.flashes %}
                {% for message in messages %}
                    <div class="alert alert-danger" role="alert">{{ message }}</div>
                {% endfor %}
            {% endfor %}

            {{ form_start(form) }}

            <div class="mb-3">
                {{ form_label(form.mode) }}
                {{ form_widget(form.mode, {'attr': {'class': 'form-control'}}) }}
            </div>

            {% if form.mode.vars.errors|length > 0 %}
                <div class="alert alert-danger fs-6 p-1" role="alert">
                    {{ form_errors(form.mode) }}
                </div>
            {% endif %}

            <div id="playerCount" class="mb-3">
                {{ form_label(form.player_count) }}
                {{ form_widget(form.player_count, {'attr': {'class': 'form-control'}}) }}
            </div>

            {% if form.player_count.vars.errors|length > 0 %}
                <div class="alert alert-danger fs-6 p-1" role="alert">
                    {{ form_errors(form.player_count) }}
                </div>
            {% endif %}

            <div id="players" class="mb-3">
                {{ form_label(form.players) }}
                {{ form_widget(form.players, {'attr': {'class': 'form-control'}}) }}
            </div>

            {% if form.players.vars.errors|length > 0 %}
                <div class="alert alert-danger fs-6 p-1" role="alert">
                    {{ form_errors(form.players) }}
                </div>
            {% endif %}

            <button type="submit" class="btn btn-primary float-end">Save</button>
            
            {{ form_end(form) }}
        </div>
    </div>
</div>

<script>
document.addEventListener('DOMContentLoaded', function () {
    const modeSelect = document.querySelector('#create_game_form_mode');
    const players = document.querySelector('#players');
    const playerCount = document.querySelector('#playerCount');

    function togglePlayersField() {
        if (parseInt(modeSelect.value) === 2) {
            players.style.display = 'block';
            playerCount.style.display = 'none';
        } else {
            players.style.display = 'none';
            playerCount.style.display = 'block';
        }
    }

    modeSelect.addEventListener('change', togglePlayersField);
    togglePlayersField();
});
</script>
{% endblock %}
