{% extends 'base.html.twig' %}

{% block title %}New Game{% endblock %}

{% block body %}
<div class="container">
    <div class="row justify-content-md-center">
        <div class="col-6 col-md-4">
            {% for label, messages in app.flashes %}
                {% for message in messages %}
                    <div class="alert alert-danger" role="alert">{{ message }}</div>
                {% endfor %}
            {% endfor %}

            {{ form_start(form) }}

            <div class="mb-3">
                {{ form_label(form.mode) }}
                {{ form_widget(form.mode, {'attr': {'class': 'form-control'}}) }}
            </div>

            {% if form.mode.vars.errors|length > 0 %}
                <div class="alert alert-danger" role="alert">
                    {{ form_errors(form.mode) }}
                </div>
            {% endif %}

            <div class="mb-3">
                {{ form_label(form.player_count) }}
                {{ form_widget(form.player_count, {'attr': {'class': 'form-control'}}) }}
            </div>

            {% if form.player_count.vars.errors|length > 0 %}
                <div class="alert alert-danger" role="alert">
                    {{ form_errors(form.player_count) }}
                </div>
            {% endif %}

             <div class="mb-3">
                {{ form_label(form.players) }}
                {{ form_widget(form.players, {'attr': {'class': 'form-control'}}) }}
            </div>

            <button type="submit" class="btn btn-primary float-end">Save</button>
            
            {{ form_end(form) }}
        </div>
    </div>
</div>
{% endblock %}
